---
title: Index
---

<section class="intro">
  <h1>
    <img src="/images/prof-pic-bw.png" class="avatar"><br>
    Design Researcher at Dropbox<br>
  </h1>
  <p class="subtext">
    Hi, I'm Ruth. I'm a design researcher working at Dropbox.</p>
    <p>I'm passionate about translating people's needs into great designs. To me, research means being a fully-integratd 
    part of the design process. I collaborate closely with designers, engineers, product managers, 
    and writers. Great research recommendations mean concrete design directions, Sketch prototypes, or engagement models. </p>
    <p>I live in San Francisco, California. I'm relentlessly curious. Just like many of your favorite people, I binge-watch Netflix and complain about overpriced coffee. 
    I love fancy cheese and sarcastic jokes.</p>
    <p>
      I'm not currently looking for a job, but I'm always interested in meeting other researchers or learning how other companies approach 
      cross-functional design. </p>
      <p><a href="mailto:ruthhtur@gmail.com?subject=Hi">Email me</a> if you want to say hi.
    </p>
  
</section>

<!-- <section class="article-list">
  <h2>Writing</h2>
  <% blog.articles.each do |article| %>
    <article>
      <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
      <time datetime="<%= article.date.strftime('%F') %>">
        <% if article.date.year == current_year %>
          <%= article.date.strftime('%b %d') %>
        <% else %>
          <%= article.date.strftime('%b %d, %Y') %>
        <% end %>
      </time>
    </article>
  <% end %>
</section> -->