---
title: Index
---

<section class="intro">
  <h1>Hi, I'm Ruth Buchanan.<br>I'm a UX researcher in San Francisco.</h1>
  <p class="subtext"> Great research is really understanding the people we build for, what drives them, and what kinds of problems we can help them solve.<br><br> Great products keep people at the center of what they do, and great research is at the heart of any great product. Great research is what I love to do.</p>
</section>

<!-- <section class="article-list">
  <h2>Writing</h2>
  <% blog.articles.each do |article| %>
    <article>
      <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
      <time datetime="<%= article.date.strftime('%F') %>">
        <% if article.date.year == current_year %>
          <%= article.date.strftime('%b %d') %>
        <% else %>
          <%= article.date.strftime('%b %d, %Y') %>
        <% end %>
      </time>
    </article>
  <% end %>
</section> -->