---
title: Index
---

<section class="intro">
  <h1>
    <img src="/images/prof-pic-bw.png" class="avatar"><br>
    Design Research Lead at Dropbox<br>
  </h1>
  <p class="subtext">
    I'm a design research lead working at Dropbox in New York.</p>
    <p>I use methodologies that are creative, generative, and inclusive. I love shaping design strategy and getting to talk to people as a part of my job.<p>
    <p>Let's post-it together. <a href="mailto:ruthhtur@gmail.com?subject=Hi">Email me</a> if you want to say hi.
    </p>
  </p>
</section>

<!-- <section class="article-list">
  <h2>Writing</h2>
  <% blog.articles.each do |article| %>
    <article>
      <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
      <time datetime="<%= article.date.strftime('%F') %>">
        <% if article.date.year == current_year %>
          <%= article.date.strftime('%b %d') %>
        <% else %>
          <%= article.date.strftime('%b %d, %Y') %>
        <% end %>
      </time>
    </article>
  <% end %>
</section> -->