---
title: Index
---

<section class="intro">
  <h1>
    <img src="/images/prof-pic-bw.png" class="avatar"><br>
    Hi, I'm Ruth.<br>I'm a user researcher at Dropbox.
  </h1>
  <p class="subtext"></p>
</section>

<!-- <section class="article-list">
  <h2>Writing</h2>
  <% blog.articles.each do |article| %>
    <article>
      <h1><a href="<%= article.url %>"><%= article.title %></a></h1>
      <time datetime="<%= article.date.strftime('%F') %>">
        <% if article.date.year == current_year %>
          <%= article.date.strftime('%b %d') %>
        <% else %>
          <%= article.date.strftime('%b %d, %Y') %>
        <% end %>
      </time>
    </article>
  <% end %>
</section> -->